.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}
.container {
    background-color: #f2f2f2;
    padding: 5px 20px 100px 20px;
    border: 1px solid lightgrey; 
    border-radius: 3px;
   }  
.color-nav {
  background-color: hsl(51, 85%, 27%);
}
.cart{
    margin-top:40px;
}
.collection .collection-item{
    display: flex;
}

.collection .collection-item img{
    width: 150px;
    margin-right: 25px;
}
.item-desc{
    align-self:center;
}

.collection-item.avatar .title {
    font-size: 20px;
    font-weight: 500;
    color: #111010;
    display: block;
    margin-bottom: 20px;
    
} 
  
  .col-25 {
    -ms-flex: 25%;
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; 
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; 
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
    color:#111010
  }
  
  .icon-container {
    margin-bottom: 5px;
    padding: 7px 0;
    font-size: 40px;
  }
  
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 3px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  .material-icons{
    font-size: 2.4em;
    cursor: pointer;
}
.card{
    width: 300px;
}
.card .card-image .card-title{
    color: black;
    font-weight: 400
}
  /* Responsive layout */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }